//RISC-V long instruction encodings.

[wavedrom, ,svg]
....
{reg: [
  {bits: 12, name: 'imm[11:0]'},
  {bits: 14, name: 'imm[25:12]'},
  {bits: 6, name: 'imm[25]'},
], config: {label: {right: 'LI-immediate'}}}
....

[wavedrom, ,svg]
....
{reg: [
  {bits: 18, name: 'imm[17:0]'},
  {bits: 14, name: 'imm[31:18]'},
], config: {label: {right: 'LU-immediate'}}}
....

[wavedrom, ,svg]
....
{reg: [
  {bits: 1, name: '0'},
  {bits: 20, name: 'imm[20:1]'},
  {bits: 11, name: 'imm[31:21]'},
], config: {label: {right: 'LJ-immediate'}}}
....
